<a href="https://colab.research.google.com/github/seobojung/ABCD-A/blob/20250407/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_%EC%9E%85%EB%A0%A5%EA%B3%BC_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str = input("How old are you?:")
print(str, ' years old')

How old are you?:20
20  years old

In [ ]:
#x = int(input('number: '))
##print(x)

y = float(input('number: '))
print(y)

number: 1
1.0

In [ ]:
year = input("This year: ")
year = eval(year)
year = year + 1
print('Next year: ', year)

This year: 2022.0
Next year:  2023.0

In [ ]:
i = 0
result = 0
while i < 5:
  print(f'{i + 1}번째')
  a = input('성적 입력: ')
  result += int(a)
  i += 1

print(f'합: {result}')
print(f'평균: {result / 5}')

1번째
성적 입력: 10
2번째
성적 입력: 20
3번째
성적 입력: 30
4번째
성적 입력: 40
5번째
성적 입력: 50
합: 150
평균: 30.0

In [ ]:
#test_list = ['one', 'two', 'three']
#for i in test_list:
 # print(i)

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
result = 0
for a in range(1, 101):
  result = result + a
  print(f'{a} sum- {result}')
  if result > 100:
    break

print(result)

1 sum- 1
2 sum- 3
3 sum- 6
4 sum- 10
5 sum- 15
6 sum- 21
7 sum- 28
8 sum- 36
9 sum- 45
10 sum- 55
11 sum- 66
12 sum- 78
13 sum- 91
14 sum- 105
105

In [4]:
index = 0
s = "BlockDMask"
for a in s:
  print(a, end=' ')
  if a == 'k':
    break

    index = index + 1
print(index)

B l o c k 0

In [16]:
student = [180, 170, 164, 199, 182, 172, 177]
for a in student:
  if a < 170:
    continue
print(a)

177

In [22]:
i = ['alice', 'bob', 'charlie']

for name in i:
  if name == 'bob':
    print('break!')
    break
  print(name)
else:
  print('!! finish')

alice
break!

In [18]:
sr = ['father', 'mother', 'brother']
cnt = 0
for s in sr:
  for c in s:
    if c == 'r':
      cnt += 1
print(cnt)

4

In [27]:
a = [ ]
for i in range(3):
  line = [ ]
  for j in range(2):
    line.append(j + i)
  a.append(line)
print(a)

[[0, 1], [1, 2], [2, 3]]

In [38]:
i = ['Alice', 'Bob', 'Charlie']

for name in i:
  print(name)

for i, name in enumerate(i):
    print(i, name)

Alice
Bob
Charlie
0 Alice
1 Bob
2 Charlie