<a href="https://colab.research.google.com/github/seobojung/ABCD-A/blob/20250324/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_11~14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 11번 문제
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [4]:
# 12번 문제
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [6]:
# 13번 문제
s = "hello"
t = "python"
print(s+'!', t)

hello! python

In [9]:
# 14번 문제
a = 2
b = 3
print(a, "+", a, "*", b, "=", a + a * b)

2 + 2 * 3 = 8